aai-schema/src/main/resources/onap/aai_schema/aai_schema_v8.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://org.openecomp.aai.inventory/v8" xmlns:tns="http://org.openecomp.aai.inventory/v8" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="inventory-item-data">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="property-name" type="xs:string" minOccurs="0"/>
        <xs:element name="property-value" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="inventory-item">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="inventory-item-type" type="xs:string" minOccurs="0"/>
        <xs:element name="inventory-item-link" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:inventory-item-data" minOccurs="0" maxOccurs="5000"/>
        <xs:element ref="tns:tagged-inventory-item-list" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tagged-inventory-item-list">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:inventory-item" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="edge-tag-query-result">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:tagged-inventory-item-list" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="start-node-filter">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="property-name" type="xs:string" minOccurs="0"/>
        <xs:element name="property-value" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="include-node-filter">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="include-node-type" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="secondary-filter">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="property-name" type="xs:string" minOccurs="0"/>
        <xs:element name="filter-type" type="xs:string" minOccurs="0"/>
        <xs:element name="property-value" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="edge-tag-query-request">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="edge-tag" type="xs:string" minOccurs="0"/>
        <xs:element name="result-detail" type="xs:string" minOccurs="0"/>
        <xs:element name="start-node-type" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:start-node-filter" minOccurs="0" maxOccurs="5000"/>
        <xs:element ref="tns:include-node-filter" minOccurs="0" maxOccurs="5000"/>
        <xs:element ref="tns:secondary-filter" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="result-data">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="resource-type" type="xs:string" minOccurs="0"/>
        <xs:element name="resource-link" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="search-results">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:result-data" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="relationship-data">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="relationship-key" type="xs:string" minOccurs="0"/>
        <xs:element name="relationship-value" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="related-to-property">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="property-key" type="xs:string" minOccurs="0"/>
        <xs:element name="property-value" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="relationship">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="related-to" type="xs:string" minOccurs="0"/>
        <xs:element name="related-link" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:relationship-data" minOccurs="0" maxOccurs="5000"/>
        <xs:element ref="tns:related-to-property" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="relationship-list">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:relationship" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="oam-network">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="network-uuid" type="xs:string" minOccurs="0"/>
        <xs:element name="network-name" type="xs:string" minOccurs="0"/>
        <xs:element name="cvlan-tag" type="xs:unsignedInt" minOccurs="0"/>
        <xs:element name="ipv4-oam-gateway-address" type="xs:string" minOccurs="0"/>
        <xs:element name="ipv4-oam-gateway-address-prefix-length" type="xs:int" minOccurs="0"/>
        <xs:element name="resource-version" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:relationship-list" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="oam-networks">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:oam-network" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dvs-switch">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="switch-name" type="xs:string" minOccurs="0"/>
        <xs:element name="vcenter-url" type="xs:string" minOccurs="0"/>
        <xs:element name="resource-version" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:relationship-list" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dvs-switches">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:dvs-switch" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="availability-zone">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="availability-zone-name" type="xs:string" minOccurs="0"/>
        <xs:element name="hypervisor-type" type="xs:string" minOccurs="0"/>
        <xs:element name="operational-state" type="xs:string" minOccurs="0"/>
        <xs:element name="resource-version" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:relationship-list" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="az-and-dvs-switches">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:dvs-switches" minOccurs="0"/>
        <xs:element ref="tns:availability-zone" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sdn-zone-response">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:oam-networks" minOccurs="0"/>
        <xs:element ref="tns:az-and-dvs-switches" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="search">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:edge-tag-query-result" minOccurs="0"/>
        <xs:element ref="tns:edge-tag-query-request" minOccurs="0"/>
        <xs:element ref="tns:search-results" minOccurs="0"/>
        <xs:element ref="tns:sdn-zone-response" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="update-node-key">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="key-name" type="xs:string" minOccurs="0"/>
        <xs:element name="key-value" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="action-data">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="property-name" type="xs:string" minOccurs="0"/>
        <xs:element name="property-value" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="action">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="action-type" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:action-data" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="update">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="update-node-type" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:update-node-key" minOccurs="0" maxOccurs="5000"/>
        <xs:element name="update-node-uri" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:action" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="key-data">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="key-name" type="xs:string" minOccurs="0"/>
        <xs:element name="key-value" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="notify">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="event-id" type="xs:string" minOccurs="0"/>
        <xs:element name="node-type" type="xs:string" minOccurs="0"/>
        <xs:element name="event-trigger" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:key-data" minOccurs="0" maxOccurs="5000"/>
        <xs:element name="selflink" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actions">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:update" minOccurs="0"/>
        <xs:element ref="tns:notify" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ctag-pool">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="target-pe" type="xs:string" minOccurs="0"/>
        <xs:element name="availability-zone-name" type="xs:string" minOccurs="0"/>
        <xs:element name="ctag-pool-purpose" type="xs:string" minOccurs="0"/>
        <xs:element name="ctag-values" type="xs:string" minOccurs="0"/>
        <xs:element name="resource-version" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:relationship-list" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ctag-pools">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:ctag-pool" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="complex">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="physical-location-id" type="xs:string" minOccurs="0"/>
        <xs:element name="data-center-code" type="xs:string" minOccurs="0"/>
        <xs:element name="complex-name" type="xs:string" minOccurs="0"/>
        <xs:element name="identity-url" type="xs:string" minOccurs="0"/>
        <xs:element name="resource-version" type="xs:string" minOccurs="0"/>
        <xs:element name="physical-location-type" type="xs:string" minOccurs="0"/>
        <xs:element name="street1" type="xs:string" minOccurs="0"/>
        <xs:element name="street2" type="xs:string" minOccurs="0"/>
        <xs:element name="city" type="xs:string" minOccurs="0"/>
        <xs:element name="state" type="xs:string" minOccurs="0"/>
        <xs:element name="postal-code" type="xs:string" minOccurs="0"/>
        <xs:element name="country" type="xs:string" minOccurs="0"/>
        <xs:element name="region" type="xs:string" minOccurs="0"/>
        <xs:element name="latitude" type="xs:string" minOccurs="0"/>
        <xs:element name="longitude" type="xs:string" minOccurs="0"/>
        <xs:element name="elevation" type="xs:string" minOccurs="0"/>
        <xs:element name="lata" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:ctag-pools" minOccurs="0"/>
        <xs:element ref="tns:relationship-list" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="complexes">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:complex" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="volume-group">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="volume-group-id" type="xs:string" minOccurs="0"/>
        <xs:element name="volume-group-name" type="xs:string" minOccurs="0"/>
        <xs:element name="heat-stack-id" type="xs:string" minOccurs="0"/>
        <xs:element name="vnf-type" type="xs:string" minOccurs="0"/>
        <xs:element name="orchestration-status" type="xs:string" minOccurs="0"/>
        <xs:element name="resource-version" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:relationship-list" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="volume-groups">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:volume-group" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="volume">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="volume-id" type="xs:string" minOccurs="0"/>
        <xs:element name="volume-selflink" type="xs:string" minOccurs="0"/>
        <xs:element name="resource-version" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:relationship-list" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="volumes">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:volume" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="l3-interface-ipv4-address-list">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="l3-interface-ipv4-address" type="xs:string" minOccurs="0"/>
        <xs:element name="l3-interface-ipv4-prefix-length" type="xs:unsignedInt" minOccurs="0"/>
        <xs:element name="vlan-id-inner" type="xs:unsignedInt" minOccurs="0"/>
        <xs:element name="vlan-id-outer" type="xs:unsignedInt" minOccurs="0"/>
        <xs:element name="is-floating" type="xs:boolean" minOccurs="0"/>
        <xs:element name="resource-version" type="xs:string" minOccurs="0"/>
        <xs:element name="neutron-network-id" type="xs:string" minOccurs="0"/>
        <xs:element name="neutron-subnet-id" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:relationship-list" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="l3-interface-ipv6-address-list">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="l3-interface-ipv6-address" type="xs:string" minOccurs="0"/>
        <xs:element name="l3-interface-ipv6-prefix-length" type="xs:unsignedInt" minOccurs="0"/>
        <xs:element name="vlan-id-inner" type="xs:unsignedInt" minOccurs="0"/>
        <xs:element name="vlan-id-outer" type="xs:unsignedInt" minOccurs="0"/>
        <xs:element name="is-floating" type="xs:boolean" minOccurs="0"/>
        <xs:element name="resource-version" type="xs:string" minOccurs="0"/>
        <xs:element name="neutron-network-id" type="xs:string" minOccurs="0"/>
        <xs:element name="neutron-subnet-id" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:relationship-list" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="vlan-interface" type="xs:string" minOccurs="0"/>
        <xs:element name="vlan-id-inner" type="xs:unsignedInt" minOccurs="0"/>
        <xs:element name="vlan-id-outer" type="xs:unsignedInt" minOccurs="0"/>
        <xs:element name="resource-version" type="xs:string" minOccurs="0"/>
        <xs:element name="speed-value" type="xs:string" minOccurs="0"/>
        <xs:element name="speed-units" type="xs:string" minOccurs="0"/>
        <xs:element name="vlan-description" type="xs:string" minOccurs="0"/>
        <xs:element name="backdoor-connection" type="xs:string" minOccurs="0"/>
        <xs:element name="vpn-id" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:relationship-list" minOccurs="0"/>
        <xs:element ref="tns:l3-interface-ipv4-address-list" minOccurs="0" maxOccurs="5000"/>
        <xs:element ref="tns:l3-interface-ipv6-address-list" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vlans">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:vlan" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sriov-vf">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="pci-id" type="xs:string" minOccurs="0"/>
        <xs:element name="vf-vlan-filter" type="xs:string" minOccurs="0"/>
        <xs:element name="vf-mac-filter" type="xs:string" minOccurs="0"/>
        <xs:element name="vf-vlan-strip" type="xs:boolean" minOccurs="0"/>
        <xs:element name="vf-vlan-anti-spoof-check" type="xs:boolean" minOccurs="0"/>
        <xs:element name="vf-mac-anti-spoof-check" type="xs:boolean" minOccurs="0"/>
        <xs:element name="vf-mirrors" type="xs:string" minOccurs="0"/>
        <xs:element name="vf-broadcast-allow" type="xs:boolean" minOccurs="0"/>
        <xs:element name="vf-unknown-multicast-allow" type="xs:boolean" minOccurs="0"/>
        <xs:element name="vf-unknown-unicast-allow" type="xs:boolean" minOccurs="0"/>
        <xs:element name="vf-insert-stag" type="xs:boolean" minOccurs="0"/>
        <xs:element name="vf-link-status" type="xs:string" minOccurs="0"/>
        <xs:element name="resource-version" type="xs:string" minOccurs="0"/>
        <xs:element name="neutron-network-id" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:relationship-list" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sriov-vfs">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:sriov-vf" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="l-interface">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="interface-name" type="xs:string" minOccurs="0"/>
        <xs:element name="interface-role" type="xs:string" minOccurs="0"/>
        <xs:element name="v6-wan-link-ip" type="xs:string" minOccurs="0"/>
        <xs:element name="selflink" type="xs:string" minOccurs="0"/>
        <xs:element name="interface-id" type="xs:string" minOccurs="0"/>
        <xs:element name="macaddr" type="xs:string" minOccurs="0"/>
        <xs:element name="network-name" type="xs:string" minOccurs="0"/>
        <xs:element name="management-option" type="xs:string" minOccurs="0"/>
        <xs:element name="resource-version" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:vlans" minOccurs="0"/>
        <xs:element ref="tns:sriov-vfs" minOccurs="0"/>
        <xs:element ref="tns:relationship-list" minOccurs="0"/>
        <xs:element ref="tns:l3-interface-ipv4-address-list" minOccurs="0" maxOccurs="5000"/>
        <xs:element ref="tns:l3-interface-ipv6-address-list" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="l-interfaces">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:l-interface" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vserver">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="vserver-id" type="xs:string" minOccurs="0"/>
        <xs:element name="vserver-name" type="xs:string" minOccurs="0"/>
        <xs:element name="vserver-name2" type="xs:string" minOccurs="0"/>
        <xs:element name="prov-status" type="xs:string" minOccurs="0"/>
        <xs:element name="vserver-selflink" type="xs:string" minOccurs="0"/>
        <xs:element name="in-maint" type="xs:boolean" minOccurs="0"/>
        <xs:element name="is-closed-loop-disabled" type="xs:boolean" minOccurs="0"/>
        <xs:element name="resource-version" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:volumes" minOccurs="0"/>
        <xs:element ref="tns:relationship-list" minOccurs="0"/>
        <xs:element ref="tns:l-interfaces" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vservers">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:vserver" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tenant">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="tenant-id" type="xs:string" minOccurs="0"/>
        <xs:element name="tenant-name" type="xs:string" minOccurs="0"/>
        <xs:element name="resource-version" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:vservers" minOccurs="0"/>
        <xs:element ref="tns:relationship-list" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tenants">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:tenant" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="flavor">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="flavor-id" type="xs:string" minOccurs="0"/>
        <xs:element name="flavor-name" type="xs:string" minOccurs="0"/>
        <xs:element name="flavor-vcpus" type="xs:int" minOccurs="0"/>
        <xs:element name="flavor-ram" type="xs:int" minOccurs="0"/>
        <xs:element name="flavor-disk" type="xs:int" minOccurs="0"/>
        <xs:element name="flavor-ephemeral" type="xs:int" minOccurs="0"/>
        <xs:element name="flavor-swap" type="xs:string" minOccurs="0"/>
        <xs:element name="flavor-is-public" type="xs:boolean" minOccurs="0"/>
        <xs:element name="flavor-selflink" type="xs:string" minOccurs="0"/>
        <xs:element name="flavor-disabled" type="xs:boolean" minOccurs="0"/>
        <xs:element name="resource-version" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:relationship-list" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="flavors">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:flavor" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="group-assignment">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="group-id" type="xs:string" minOccurs="0"/>
        <xs:element name="group-type" type="xs:string" minOccurs="0"/>
        <xs:element name="group-name" type="xs:string" minOccurs="0"/>
        <xs:element name="group-description" type="xs:string" minOccurs="0"/>
        <xs:element name="resource-version" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:relationship-list" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="group-assignments">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:group-assignment" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="snapshot">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="snapshot-id" type="xs:string" minOccurs="0"/>
        <xs:element name="snapshot-name" type="xs:string" minOccurs="0"/>
        <xs:element name="snapshot-architecture" type="xs:string" minOccurs="0"/>
        <xs:element name="snapshot-os-distro" type="xs:string" minOccurs="0"/>
        <xs:element name="snapshot-os-version" type="xs:string" minOccurs="0"/>
        <xs:element name="application" type="xs:string" minOccurs="0"/>
        <xs:element name="application-vendor" type="xs:string" minOccurs="0"/>
        <xs:element name="application-version" type="xs:string" minOccurs="0"/>
        <xs:element name="snapshot-selflink" type="xs:string" minOccurs="0"/>
        <xs:element name="prev-snapshot-id" type="xs:string" minOccurs="0"/>
        <xs:element name="resource-version" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:relationship-list" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="snapshots">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:snapshot" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="metadatum">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="metaname" type="xs:string" minOccurs="0"/>
        <xs:element name="metaval" type="xs:string" minOccurs="0"/>
        <xs:element name="resource-version" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="metadata">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:metadatum" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="image">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="image-id" type="xs:string" minOccurs="0"/>
        <xs:element name="image-name" type="xs:string" minOccurs="0"/>
        <xs:element name="image-architecture" type="xs:string" minOccurs="0"/>
        <xs:element name="image-os-distro" type="xs:string" minOccurs="0"/>
        <xs:element name="image-os-version" type="xs:string" minOccurs="0"/>
        <xs:element name="application" type="xs:string" minOccurs="0"/>
        <xs:element name="application-vendor" type="xs:string" minOccurs="0"/>
        <xs:element name="application-version" type="xs:string" minOccurs="0"/>
        <xs:element name="image-selflink" type="xs:string" minOccurs="0"/>
        <xs:element name="resource-version" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:relationship-list" minOccurs="0"/>
        <xs:element ref="tns:metadata" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="images">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:image" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="availability-zones">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:availability-zone" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cloud-region">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="cloud-owner" type="xs:string" minOccurs="0"/>
        <xs:element name="cloud-region-id" type="xs:string" minOccurs="0"/>
        <xs:element name="cloud-type" type="xs:string" minOccurs="0"/>
        <xs:element name="owner-defined-type" type="xs:string" minOccurs="0"/>
        <xs:element name="cloud-region-version" type="xs:string" minOccurs="0"/>
        <xs:element name="identity-url" type="xs:string" minOccurs="0"/>
        <xs:element name="cloud-zone" type="xs:string" minOccurs="0"/>
        <xs:element name="complex-name" type="xs:string" minOccurs="0"/>
        <xs:element name="resource-version" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:volume-groups" minOccurs="0"/>
        <xs:element ref="tns:tenants" minOccurs="0"/>
        <xs:element ref="tns:flavors" minOccurs="0"/>
        <xs:element ref="tns:group-assignments" minOccurs="0"/>
        <xs:element ref="tns:snapshots" minOccurs="0"/>
        <xs:element ref="tns:images" minOccurs="0"/>
        <xs:element ref="tns:dvs-switches" minOccurs="0"/>
        <xs:element ref="tns:oam-networks" minOccurs="0"/>
        <xs:element ref="tns:availability-zones" minOccurs="0"/>
        <xs:element ref="tns:relationship-list" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cloud-regions">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:cloud-region" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="network-profile">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="nm-profile-name" type="xs:string" minOccurs="0"/>
        <xs:element name="community-string" type="xs:string" minOccurs="0"/>
        <xs:element name="resource-version" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:relationship-list" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="network-profiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:network-profile" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="p-interface">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="interface-name" type="xs:string" minOccurs="0"/>
        <xs:element name="speed-value" type="xs:string" minOccurs="0"/>
        <xs:element name="speed-units" type="xs:string" minOccurs="0"/>
        <xs:element name="port-description" type="xs:string" minOccurs="0"/>
        <xs:element name="equipment-identifier" type="xs:string" minOccurs="0"/>
        <xs:element name="interface-role" type="xs:string" minOccurs="0"/>
        <xs:element name="interface-type" type="xs:string" minOccurs="0"/>
        <xs:element name="resource-version" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:relationship-list" minOccurs="0"/>
        <xs:element ref="tns:l-interfaces" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="p-interfaces">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:p-interface" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="lag-interface">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="interface-name" type="xs:string" minOccurs="0"/>
        <xs:element name="resource-version" type="xs:string" minOccurs="0"/>
        <xs:element name="speed-value" type="xs:string" minOccurs="0"/>
        <xs:element name="speed-units" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:relationship-list" minOccurs="0"/>
        <xs:element ref="tns:l-interfaces" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="lag-interfaces">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:lag-interface" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="pserver">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="hostname" type="xs:string" minOccurs="0"/>
        <xs:element name="ptnii-equip-name" type="xs:string" minOccurs="0"/>
        <xs:element name="number-of-cpus" type="xs:int" minOccurs="0"/>
        <xs:element name="disk-in-gigabytes" type="xs:int" minOccurs="0"/>
        <xs:element name="ram-in-megabytes" type="xs:int" minOccurs="0"/>
        <xs:element name="equip-type" type="xs:string" minOccurs="0"/>
        <xs:element name="equip-vendor" type="xs:string" minOccurs="0"/>
        <xs:element name="equip-model" type="xs:string" minOccurs="0"/>
        <xs:element name="fqdn" type="xs:string" minOccurs="0"/>
        <xs:element name="pserver-selflink" type="xs:string" minOccurs="0"/>
        <xs:element name="ipv4-oam-address" type="xs:string" minOccurs="0"/>
        <xs:element name="serial-number" type="xs:string" minOccurs="0"/>
        <xs:element name="pserver-id" type="xs:string" minOccurs="0"/>
        <xs:element name="internet-topology" type="xs:string" minOccurs="0"/>
        <xs:element name="in-maint" type="xs:boolean" minOccurs="0"/>
        <xs:element name="resource-version" type="xs:string" minOccurs="0"/>
        <xs:element name="pserver-name2" type="xs:string" minOccurs="0"/>
        <xs:element name="purpose" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:relationship-list" minOccurs="0"/>
        <xs:element ref="tns:p-interfaces" minOccurs="0"/>
        <xs:element ref="tns:lag-interfaces" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="pservers">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:pserver" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="virtual-data-center">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="vdc-id" type="xs:string" minOccurs="0"/>
        <xs:element name="vdc-name" type="xs:string" minOccurs="0"/>
        <xs:element name="resource-version" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:relationship-list" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="virtual-data-centers">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:virtual-data-center" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cloud-infrastructure">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:complexes" minOccurs="0"/>
        <xs:element ref="tns:cloud-regions" minOccurs="0"/>
        <xs:element ref="tns:network-profiles" minOccurs="0"/>
        <xs:element ref="tns:pservers" minOccurs="0"/>
        <xs:element ref="tns:virtual-data-centers" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="connector">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="resource-instance-id" type="xs:string" minOccurs="0"/>
        <xs:element name="resource-version" type="xs:string" minOccurs="0"/>
        <xs:element name="persona-model-id" type="xs:string" minOccurs="0"/>
        <xs:element name="persona-model-version" type="xs:string" minOccurs="0"/>
        <xs:element name="model-version-id" type="xs:string" minOccurs="0"/>
        <xs:element name="widget-model-id" type="xs:string" minOccurs="0"/>
        <xs:element name="widget-model-version" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:relationship-list" minOccurs="0"/>
        <xs:element ref="tns:metadata" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="connectors">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:connector" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="service-instance">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="service-instance-id" type="xs:string" minOccurs="0"/>
        <xs:element name="service-instance-name" type="xs:string" minOccurs="0"/>
        <xs:element name="persona-model-id" type="xs:string" minOccurs="0"/>
        <xs:element name="persona-model-version" type="xs:string" minOccurs="0"/>
        <xs:element name="model-version-id" type="xs:string" minOccurs="0"/>
        <xs:element name="widget-model-id" type="xs:string" minOccurs="0"/>
        <xs:element name="widget-model-version" type="xs:string" minOccurs="0"/>
        <xs:element name="bandwidth-total" type="xs:string" minOccurs="0"/>
        <xs:element name="bandwidth-up-wan1" type="xs:string" minOccurs="0"/>
        <xs:element name="bandwidth-down-wan1" type="xs:string" minOccurs="0"/>
        <xs:element name="bandwidth-up-wan2" type="xs:string" minOccurs="0"/>
        <xs:element name="bandwidth-down-wan2" type="xs:string" minOccurs="0"/>
        <xs:element name="vhn-portal-url" type="xs:string" minOccurs="0"/>
        <xs:element name="service-instance-location-id" type="xs:string" minOccurs="0"/>
        <xs:element name="resource-version" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:relationship-list" minOccurs="0"/>
        <xs:element ref="tns:metadata" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="service-instances">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:service-instance" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="service-subscription">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="service-type" type="xs:string" minOccurs="0"/>
        <xs:element name="temp-ub-sub-account-id" type="xs:string" minOccurs="0"/>
        <xs:element name="resource-version" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:service-instances" minOccurs="0"/>
        <xs:element ref="tns:relationship-list" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="service-subscriptions">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:service-subscription" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="customer">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="global-customer-id" type="xs:string" minOccurs="0"/>
        <xs:element name="subscriber-name" type="xs:string" minOccurs="0"/>
        <xs:element name="subscriber-type" type="xs:string" minOccurs="0"/>
        <xs:element name="resource-version" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:service-subscriptions" minOccurs="0"/>
        <xs:element ref="tns:relationship-list" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="customers">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:customer" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="business">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:connectors" minOccurs="0"/>
        <xs:element ref="tns:customers" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vnf-image">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="vnf-image-uuid" type="xs:string" minOccurs="0"/>
        <xs:element name="application" type="xs:string" minOccurs="0"/>
        <xs:element name="application-vendor" type="xs:string" minOccurs="0"/>
        <xs:element name="application-version" type="xs:string" minOccurs="0"/>
        <xs:element name="selflink" type="xs:string" minOccurs="0"/>
        <xs:element name="resource-version" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:relationship-list" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vnf-images">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:vnf-image" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="service">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="service-id" type="xs:string" minOccurs="0"/>
        <xs:element name="service-description" type="xs:string" minOccurs="0"/>
        <xs:element name="service-selflink" type="xs:string" minOccurs="0"/>
        <xs:element name="resource-version" type="xs:string" minOccurs="0"/>
        <xs:element name="service-version" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:relationship-list" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="services">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:service" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="service-capability">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="service-type" type="xs:string" minOccurs="0"/>
        <xs:element name="vnf-type" type="xs:string" minOccurs="0"/>
        <xs:element name="resource-version" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:relationship-list" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="service-capabilities">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:service-capability" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="element-choice-set">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="element-choice-set-uuid" type="xs:string" minOccurs="0"/>
        <xs:element name="element-choice-set-name" type="xs:string" minOccurs="0"/>
        <xs:element name="cardinality" type="xs:string" minOccurs="0"/>
        <xs:element name="resource-version" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:model-elements" minOccurs="0"/>
        <xs:element ref="tns:relationship-list" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="element-choice-sets">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:element-choice-set" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="constrained-element-set">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="constrained-element-set-uuid" type="xs:string" minOccurs="0"/>
        <xs:element name="constraint-type" type="xs:string" minOccurs="0"/>
        <xs:element name="check-type" type="xs:string" minOccurs="0"/>
        <xs:element name="resource-version" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:element-choice-sets" minOccurs="0"/>
        <xs:element ref="tns:relationship-list" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="constrained-element-sets">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:constrained-element-set" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="model-constraint">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="model-constraint-uuid" type="xs:string" minOccurs="0"/>
        <xs:element name="constrained-element-set-uuid-to-replace" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:constrained-element-sets" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="model-constraints">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:model-constraint" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="model-element">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="model-element-uuid" type="xs:string" minOccurs="0"/>
        <xs:element name="new-data-del-flag" type="xs:string" minOccurs="0"/>
        <xs:element name="cardinality" type="xs:string" minOccurs="0"/>
        <xs:element name="linkage-points" type="xs:string" minOccurs="0" maxOccurs="5000"/>
        <xs:element name="resource-version" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:model-elements" minOccurs="0"/>
        <xs:element ref="tns:model-constraints" minOccurs="0"/>
        <xs:element ref="tns:relationship-list" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="model-elements">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:model-element" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="model">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="model-name-version-id" type="xs:string" minOccurs="0"/>
        <xs:element name="model-type" type="xs:string" minOccurs="0"/>
        <xs:element name="model-name" type="xs:string" minOccurs="0"/>
        <xs:element name="model-id" type="xs:string" minOccurs="0"/>
        <xs:element name="model-version" type="xs:string" minOccurs="0"/>
        <xs:element name="model-description" type="xs:string" minOccurs="0"/>
        <xs:element name="resource-version" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:model-elements" minOccurs="0"/>
        <xs:element ref="tns:metadata" minOccurs="0"/>
        <xs:element ref="tns:relationship-list" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="models">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:model" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="related-lookup">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="related-lookup-uuid" type="xs:string" minOccurs="0"/>
        <xs:element name="source-node-type" type="xs:string" minOccurs="0"/>
        <xs:element name="source-node-property" type="xs:string" minOccurs="0"/>
        <xs:element name="target-node-type" type="xs:string" minOccurs="0"/>
        <xs:element name="target-node-property" type="xs:string" minOccurs="0"/>
        <xs:element name="property-collect-list" type="xs:string" minOccurs="0" maxOccurs="5000"/>
        <xs:element name="resource-version" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:relationship-list" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="related-lookups">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:related-lookup" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="property-constraint">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="property-constraint-uuid" type="xs:string" minOccurs="0"/>
        <xs:element name="constraint-type" type="xs:string" minOccurs="0"/>
        <xs:element name="property-name" type="xs:string" minOccurs="0"/>
        <xs:element name="property-value" type="xs:string" minOccurs="0"/>
        <xs:element name="resource-version" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="property-constraints">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:property-constraint" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="named-query-element">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="named-query-element-uuid" type="xs:string" minOccurs="0"/>
        <xs:element name="property-collect-list" type="xs:string" minOccurs="0" maxOccurs="5000"/>
        <xs:element name="resource-version" type="xs:string" minOccurs="0"/>
        <xs:element name="property-limit-desc" type="xs:string" minOccurs="0"/>
        <xs:element name="do-not-output" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:named-query-elements" minOccurs="0"/>
        <xs:element ref="tns:related-lookups" minOccurs="0"/>
        <xs:element ref="tns:property-constraints" minOccurs="0"/>
        <xs:element ref="tns:relationship-list" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="named-query-elements">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:named-query-element" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="named-query">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="named-query-uuid" type="xs:string" minOccurs="0"/>
        <xs:element name="named-query-name" type="xs:string" minOccurs="0"/>
        <xs:element name="named-query-version" type="xs:string" minOccurs="0"/>
        <xs:element name="required-input-params" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="required-input-param" type="xs:string" minOccurs="0" maxOccurs="5000"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="description" type="xs:string" minOccurs="0"/>
        <xs:element name="resource-version" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:named-query-elements" minOccurs="0"/>
        <xs:element ref="tns:relationship-list" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="named-queries">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:named-query" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="service-design-and-creation">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:vnf-images" minOccurs="0"/>
        <xs:element ref="tns:services" minOccurs="0"/>
        <xs:element ref="tns:service-capabilities" minOccurs="0"/>
        <xs:element ref="tns:models" minOccurs="0"/>
        <xs:element ref="tns:named-queries" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="logical-link">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="link-name" type="xs:string" minOccurs="0"/>
        <xs:element name="link-type" type="xs:string" minOccurs="0"/>
        <xs:element name="speed-value" type="xs:string" minOccurs="0"/>
        <xs:element name="speed-units" type="xs:string" minOccurs="0"/>
        <xs:element name="ip-version" type="xs:string" minOccurs="0"/>
        <xs:element name="routing-protocol" type="xs:string" minOccurs="0"/>
        <xs:element name="resource-version" type="xs:string" minOccurs="0"/>
        <xs:element name="persona-model-id" type="xs:string" minOccurs="0"/>
        <xs:element name="persona-model-version" type="xs:string" minOccurs="0"/>
        <xs:element name="model-version-id" type="xs:string" minOccurs="0"/>
        <xs:element name="widget-model-id" type="xs:string" minOccurs="0"/>
        <xs:element name="widget-model-version" type="xs:string" minOccurs="0"/>
        <xs:element name="operational-status" type="xs:string" minOccurs="0"/>
        <xs:element name="link-role" type="xs:string" minOccurs="0"/>
        <xs:element name="link-name2" type="xs:string" minOccurs="0"/>
        <xs:element name="link-id" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:relationship-list" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="logical-links">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:logical-link" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="class-of-service">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="cos" type="xs:string" minOccurs="0"/>
        <xs:element name="probe-id" type="xs:string" minOccurs="0"/>
        <xs:element name="probe-type" type="xs:string" minOccurs="0"/>
        <xs:element name="resource-version" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:relationship-list" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="classes-of-service">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:class-of-service" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="site-pair">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="site-pair-id" type="xs:string" minOccurs="0"/>
        <xs:element name="source-ip" type="xs:string" minOccurs="0"/>
        <xs:element name="destination-ip" type="xs:string" minOccurs="0"/>
        <xs:element name="ip-version" type="xs:string" minOccurs="0"/>
        <xs:element name="destination-hostname" type="xs:string" minOccurs="0"/>
        <xs:element name="destination-equip-type" type="xs:string" minOccurs="0"/>
        <xs:element name="resource-version" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:classes-of-service" minOccurs="0"/>
        <xs:element ref="tns:relationship-list" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="site-pairs">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:site-pair" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="routing-instance">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="routing-instance-id" type="xs:string" minOccurs="0"/>
        <xs:element name="rpm-owner" type="xs:string" minOccurs="0"/>
        <xs:element name="resource-version" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:site-pairs" minOccurs="0"/>
        <xs:element ref="tns:relationship-list" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="routing-instances">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:routing-instance" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="site-pair-set">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="site-pair-set-id" type="xs:string" minOccurs="0"/>
        <xs:element name="resource-version" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:routing-instances" minOccurs="0"/>
        <xs:element ref="tns:relationship-list" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="site-pair-sets">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:site-pair-set" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vpn-binding">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="vpn-id" type="xs:string" minOccurs="0"/>
        <xs:element name="vpn-name" type="xs:string" minOccurs="0"/>
        <xs:element name="global-route-target" type="xs:string" minOccurs="0"/>
        <xs:element name="vpn-platform" type="xs:string" minOccurs="0"/>
        <xs:element name="resource-version" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:relationship-list" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vpn-bindings">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:vpn-binding" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vpls-pe">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="equipment-name" type="xs:string" minOccurs="0"/>
        <xs:element name="prov-status" type="xs:string" minOccurs="0"/>
        <xs:element name="ipv4-oam-address" type="xs:string" minOccurs="0"/>
        <xs:element name="equipment-role" type="xs:string" minOccurs="0"/>
        <xs:element name="vlan-id-outer" type="xs:unsignedInt" minOccurs="0"/>
        <xs:element name="resource-version" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:relationship-list" minOccurs="0"/>
        <xs:element ref="tns:p-interfaces" minOccurs="0"/>
        <xs:element ref="tns:lag-interfaces" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vpls-pes">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:vpls-pe" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="multicast-configuration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="multicast-configuration-id" type="xs:string" minOccurs="0"/>
        <xs:element name="multicast-protocol" type="xs:string" minOccurs="0"/>
        <xs:element name="rp-type" type="xs:string" minOccurs="0"/>
        <xs:element name="resource-version" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:relationship-list" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="multicast-configurations">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:multicast-configuration" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cvlan-tag-entry">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="cvlan-tag" type="xs:unsignedInt" minOccurs="0"/>
        <xs:element name="resource-version" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:relationship-list" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cvlan-tags">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:cvlan-tag-entry" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="port-group">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="interface-id" type="xs:string" minOccurs="0"/>
        <xs:element name="neutron-network-id" type="xs:string" minOccurs="0"/>
        <xs:element name="neutron-network-name" type="xs:string" minOccurs="0"/>
        <xs:element name="interface-role" type="xs:string" minOccurs="0"/>
        <xs:element name="resource-version" type="xs:string" minOccurs="0"/>
        <xs:element name="port-group-id" type="xs:string" minOccurs="0"/>
        <xs:element name="port-group-name" type="xs:string" minOccurs="0"/>
        <xs:element name="switch-name" type="xs:string" minOccurs="0"/>
        <xs:element name="orchestration-status" type="xs:string" minOccurs="0"/>
        <xs:element name="heat-stack-id" type="xs:string" minOccurs="0"/>
        <xs:element name="mso-catalog-key" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:cvlan-tags" minOccurs="0"/>
        <xs:element ref="tns:relationship-list" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="port-groups">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:port-group" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vce">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="vnf-id" type="xs:string" minOccurs="0"/>
        <xs:element name="vnf-name" type="xs:string" minOccurs="0"/>
        <xs:element name="vnf-name2" type="xs:string" minOccurs="0"/>
        <xs:element name="vnf-type" type="xs:string" minOccurs="0"/>
        <xs:element name="service-id" type="xs:string" minOccurs="0"/>
        <xs:element name="regional-resource-zone" type="xs:string" minOccurs="0"/>
        <xs:element name="prov-status" type="xs:string" minOccurs="0"/>
        <xs:element name="operational-state" type="xs:string" minOccurs="0"/>
        <xs:element name="license-key" type="xs:string" minOccurs="0"/>
        <xs:element name="equipment-role" type="xs:string" minOccurs="0"/>
        <xs:element name="orchestration-status" type="xs:string" minOccurs="0"/>
        <xs:element name="heat-stack-id" type="xs:string" minOccurs="0"/>
        <xs:element name="mso-catalog-key" type="xs:string" minOccurs="0"/>
        <xs:element name="vpe-id" type="xs:string" minOccurs="0"/>
        <xs:element name="v6-vce-wan-address" type="xs:string" minOccurs="0"/>
        <xs:element name="ipv4-oam-address" type="xs:string" minOccurs="0"/>
        <xs:element name="resource-version" type="xs:string" minOccurs="0"/>
        <xs:element name="ipv4-loopback0-address" type="xs:string" minOccurs="0"/>
        <xs:element name="entitlement-resource-uuid" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:port-groups" minOccurs="0"/>
        <xs:element ref="tns:relationship-list" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vces">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:vce" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vnfc">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="vnfc-name" type="xs:string" minOccurs="0"/>
        <xs:element name="vnfc-function-code" type="xs:string" minOccurs="0"/>
        <xs:element name="vnfc-type" type="xs:string" minOccurs="0"/>
        <xs:element name="prov-status" type="xs:string" minOccurs="0"/>
        <xs:element name="orchestration-status" type="xs:string" minOccurs="0"/>
        <xs:element name="ipaddress-v4-oam-vip" type="xs:string" minOccurs="0"/>
        <xs:element name="in-maint" type="xs:boolean" minOccurs="0"/>
        <xs:element name="is-closed-loop-disabled" type="xs:boolean" minOccurs="0"/>
        <xs:element name="group-notation" type="xs:string" minOccurs="0"/>
        <xs:element name="resource-version" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:relationship-list" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vnfcs">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:vnfc" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="subnet">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="subnet-id" type="xs:string" minOccurs="0"/>
        <xs:element name="subnet-name" type="xs:string" minOccurs="0"/>
        <xs:element name="neutron-subnet-id" type="xs:string" minOccurs="0"/>
        <xs:element name="gateway-address" type="xs:string" minOccurs="0"/>
        <xs:element name="network-start-address" type="xs:string" minOccurs="0"/>
        <xs:element name="cidr-mask" type="xs:string" minOccurs="0"/>
        <xs:element name="ip-version" type="xs:string" minOccurs="0"/>
        <xs:element name="orchestration-status" type="xs:string" minOccurs="0"/>
        <xs:element name="dhcp-enabled" type="xs:boolean" minOccurs="0"/>
        <xs:element name="dhcp-start" type="xs:string" minOccurs="0"/>
        <xs:element name="dhcp-end" type="xs:string" minOccurs="0"/>
        <xs:element name="resource-version" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:relationship-list" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="subnets">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:subnet" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ctag-assignment">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="vlan-id-inner" type="xs:unsignedInt" minOccurs="0"/>
        <xs:element name="resource-version" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:relationship-list" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ctag-assignments">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:ctag-assignment" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="segmentation-assignment">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="segmentation-id" type="xs:string" minOccurs="0"/>
        <xs:element name="resource-version" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:relationship-list" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="segmentation-assignments">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:segmentation-assignment" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="l3-network">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="network-id" type="xs:string" minOccurs="0"/>
        <xs:element name="network-name" type="xs:string" minOccurs="0"/>
        <xs:element name="network-type" type="xs:string" minOccurs="0"/>
        <xs:element name="network-role" type="xs:string" minOccurs="0"/>
        <xs:element name="network-technology" type="xs:string" minOccurs="0"/>
        <xs:element name="neutron-network-id" type="xs:string" minOccurs="0"/>
        <xs:element name="is-bound-to-vpn" type="xs:boolean" minOccurs="0"/>
        <xs:element name="service-id" type="xs:string" minOccurs="0"/>
        <xs:element name="network-role-instance" type="xs:unsignedInt" minOccurs="0"/>
        <xs:element name="resource-version" type="xs:string" minOccurs="0"/>
        <xs:element name="orchestration-status" type="xs:string" minOccurs="0"/>
        <xs:element name="heat-stack-id" type="xs:string" minOccurs="0"/>
        <xs:element name="mso-catalog-key" type="xs:string" minOccurs="0"/>
        <xs:element name="contrail-network-fqdn" type="xs:string" minOccurs="0"/>
        <xs:element name="persona-model-id" type="xs:string" minOccurs="0"/>
        <xs:element name="persona-model-version" type="xs:string" minOccurs="0"/>
        <xs:element name="model-version-id" type="xs:string" minOccurs="0"/>
        <xs:element name="widget-model-id" type="xs:string" minOccurs="0"/>
        <xs:element name="widget-model-version" type="xs:string" minOccurs="0"/>
        <xs:element name="physical-network-name" type="xs:string" minOccurs="0"/>
        <xs:element name="is-provider-network" type="xs:boolean" minOccurs="0"/>
        <xs:element name="is-shared-network" type="xs:boolean" minOccurs="0"/>
        <xs:element name="is-external-network" type="xs:boolean" minOccurs="0"/>
        <xs:element ref="tns:subnets" minOccurs="0"/>
        <xs:element ref="tns:ctag-assignments" minOccurs="0"/>
        <xs:element ref="tns:segmentation-assignments" minOccurs="0"/>
        <xs:element ref="tns:relationship-list" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="l3-networks">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:l3-network" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="network-policy">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="network-policy-id" type="xs:string" minOccurs="0"/>
        <xs:element name="network-policy-fqdn" type="xs:string" minOccurs="0"/>
        <xs:element name="heat-stack-id" type="xs:string" minOccurs="0"/>
        <xs:element name="resource-version" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:relationship-list" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="network-policies">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:network-policy" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vf-module">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="vf-module-id" type="xs:string" minOccurs="0"/>
        <xs:element name="vf-module-name" type="xs:string" minOccurs="0"/>
        <xs:element name="heat-stack-id" type="xs:string" minOccurs="0"/>
        <xs:element name="orchestration-status" type="xs:string" minOccurs="0"/>
        <xs:element name="is-base-vf-module" type="xs:boolean" minOccurs="0"/>
        <xs:element name="resource-version" type="xs:string" minOccurs="0"/>
        <xs:element name="persona-model-id" type="xs:string" minOccurs="0"/>
        <xs:element name="persona-model-version" type="xs:string" minOccurs="0"/>
        <xs:element name="model-version-id" type="xs:string" minOccurs="0"/>
        <xs:element name="widget-model-id" type="xs:string" minOccurs="0"/>
        <xs:element name="widget-model-version" type="xs:string" minOccurs="0"/>
        <xs:element name="contrail-service-instance-fqdn" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:relationship-list" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vf-modules">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:vf-module" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="generic-vnf">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="vnf-id" type="xs:string" minOccurs="0"/>
        <xs:element name="vnf-name" type="xs:string" minOccurs="0"/>
        <xs:element name="vnf-name2" type="xs:string" minOccurs="0"/>
        <xs:element name="vnf-type" type="xs:string" minOccurs="0"/>
        <xs:element name="service-id" type="xs:string" minOccurs="0"/>
        <xs:element name="regional-resource-zone" type="xs:string" minOccurs="0"/>
        <xs:element name="prov-status" type="xs:string" minOccurs="0"/>
        <xs:element name="operational-state" type="xs:string" minOccurs="0"/>
        <xs:element name="license-key" type="xs:string" minOccurs="0"/>
        <xs:element name="equipment-role" type="xs:string" minOccurs="0"/>
        <xs:element name="orchestration-status" type="xs:string" minOccurs="0"/>
        <xs:element name="heat-stack-id" type="xs:string" minOccurs="0"/>
        <xs:element name="mso-catalog-key" type="xs:string" minOccurs="0"/>
        <xs:element name="management-option" type="xs:string" minOccurs="0"/>
        <xs:element name="ipv4-oam-address" type="xs:string" minOccurs="0"/>
        <xs:element name="ipv4-loopback0-address" type="xs:string" minOccurs="0"/>
        <xs:element name="nm-lan-v6-address" type="xs:string" minOccurs="0"/>
        <xs:element name="management-v6-address" type="xs:string" minOccurs="0"/>
        <xs:element name="vcpu" type="xs:unsignedInt" minOccurs="0"/>
        <xs:element name="vcpu-units" type="xs:string" minOccurs="0"/>
        <xs:element name="vmemory" type="xs:unsignedInt" minOccurs="0"/>
        <xs:element name="vmemory-units" type="xs:string" minOccurs="0"/>
        <xs:element name="vdisk" type="xs:unsignedInt" minOccurs="0"/>
        <xs:element name="vdisk-units" type="xs:string" minOccurs="0"/>
        <xs:element name="in-maint" type="xs:boolean" minOccurs="0"/>
        <xs:element name="is-closed-loop-disabled" type="xs:boolean" minOccurs="0"/>
        <xs:element name="resource-version" type="xs:string" minOccurs="0"/>
        <xs:element name="summary-status" type="xs:string" minOccurs="0"/>
        <xs:element name="encrypted-access-flag" type="xs:boolean" minOccurs="0"/>
        <xs:element name="persona-model-id" type="xs:string" minOccurs="0"/>
        <xs:element name="persona-model-version" type="xs:string" minOccurs="0"/>
        <xs:element name="model-version-id" type="xs:string" minOccurs="0"/>
        <xs:element name="widget-model-id" type="xs:string" minOccurs="0"/>
        <xs:element name="widget-model-version" type="xs:string" minOccurs="0"/>
        <xs:element name="as-number" type="xs:string" minOccurs="0"/>
        <xs:element name="regional-resource-subzone" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:relationship-list" minOccurs="0"/>
        <xs:element ref="tns:l-interfaces" minOccurs="0"/>
        <xs:element ref="tns:lag-interfaces" minOccurs="0"/>
        <xs:element ref="tns:vf-modules" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="generic-vnfs">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:generic-vnf" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="lag-link">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="link-name" type="xs:string" minOccurs="0"/>
        <xs:element name="resource-version" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:relationship-list" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="lag-links">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:lag-link" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="newvce">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="vnf-id2" type="xs:string" minOccurs="0"/>
        <xs:element name="vnf-name" type="xs:string" minOccurs="0"/>
        <xs:element name="vnf-name2" type="xs:string" minOccurs="0"/>
        <xs:element name="vnf-type" type="xs:string" minOccurs="0"/>
        <xs:element name="prov-status" type="xs:string" minOccurs="0"/>
        <xs:element name="operational-state" type="xs:string" minOccurs="0"/>
        <xs:element name="license-key" type="xs:string" minOccurs="0"/>
        <xs:element name="ipv4-oam-address" type="xs:string" minOccurs="0"/>
        <xs:element name="equipment-role" type="xs:string" minOccurs="0"/>
        <xs:element name="resource-version" type="xs:string" minOccurs="0"/>
        <xs:element name="ipv4-loopback0-address" type="xs:string" minOccurs="0"/>
        <xs:element name="orchestration-status" type="xs:string" minOccurs="0"/>
        <xs:element name="heat-stack-id" type="xs:string" minOccurs="0"/>
        <xs:element name="mso-catalog-key" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:relationship-list" minOccurs="0"/>
        <xs:element ref="tns:l-interfaces" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="newvces">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:newvce" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="pnf">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="pnf-name" type="xs:string" minOccurs="0"/>
        <xs:element name="pnf-name2" type="xs:string" minOccurs="0"/>
        <xs:element name="pnf-name2-source" type="xs:string" minOccurs="0"/>
        <xs:element name="pnf-id" type="xs:string" minOccurs="0"/>
        <xs:element name="equip-type" type="xs:string" minOccurs="0"/>
        <xs:element name="equip-vendor" type="xs:string" minOccurs="0"/>
        <xs:element name="equip-model" type="xs:string" minOccurs="0"/>
        <xs:element name="management-option" type="xs:string" minOccurs="0"/>
        <xs:element name="ipaddress-v4-oam" type="xs:string" minOccurs="0"/>
        <xs:element name="sw-version" type="xs:string" minOccurs="0"/>
        <xs:element name="orchestration-status" type="xs:string" minOccurs="0"/>
        <xs:element name="in-maint" type="xs:boolean" minOccurs="0"/>
        <xs:element name="frame-id" type="xs:string" minOccurs="0"/>
        <xs:element name="resource-version" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:relationship-list" minOccurs="0"/>
        <xs:element ref="tns:p-interfaces" minOccurs="0"/>
        <xs:element ref="tns:lag-interfaces" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="pnfs">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:pnf" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="physical-link">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="link-name" type="xs:string" minOccurs="0"/>
        <xs:element name="speed-value" type="xs:string" minOccurs="0"/>
        <xs:element name="speed-units" type="xs:string" minOccurs="0"/>
        <xs:element name="circuit-id" type="xs:string" minOccurs="0"/>
        <xs:element name="dual-mode" type="xs:string" minOccurs="0"/>
        <xs:element name="management-option" type="xs:string" minOccurs="0"/>
        <xs:element name="service-provider-name" type="xs:string" minOccurs="0"/>
        <xs:element name="resource-version" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:relationship-list" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="physical-links">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:physical-link" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vig-server">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="vig-address-type" type="xs:string" minOccurs="0"/>
        <xs:element name="ipaddress-v4-vig" type="xs:string" minOccurs="0" maxOccurs="5000"/>
        <xs:element name="ipaddress-v6-vig" type="xs:string" minOccurs="0" maxOccurs="5000"/>
        <xs:element name="resource-version" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:relationship-list" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vig-servers">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:vig-server" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ipsec-configuration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ipsec-configuration-id" type="xs:string" minOccurs="0"/>
        <xs:element name="requested-vig-address-type" type="xs:string" minOccurs="0"/>
        <xs:element name="requested-encryption-strength" type="xs:string" minOccurs="0"/>
        <xs:element name="requested-dmz-type" type="xs:string" minOccurs="0"/>
        <xs:element name="shared-dmz-network-address" type="xs:string" minOccurs="0"/>
        <xs:element name="requested-customer-name" type="xs:string" minOccurs="0"/>
        <xs:element name="ike-version" type="xs:string" minOccurs="0"/>
        <xs:element name="ikev1-authentication" type="xs:string" minOccurs="0"/>
        <xs:element name="ikev1-encryption" type="xs:string" minOccurs="0"/>
        <xs:element name="ikev1-dh-group" type="xs:string" minOccurs="0"/>
        <xs:element name="ikev1-am-group-id" type="xs:string" minOccurs="0"/>
        <xs:element name="ikev1-am-password" type="xs:string" minOccurs="0"/>
        <xs:element name="ikev1-sa-lifetime" type="xs:string" minOccurs="0"/>
        <xs:element name="ipsec-authentication" type="xs:string" minOccurs="0"/>
        <xs:element name="ipsec-encryption" type="xs:string" minOccurs="0"/>
        <xs:element name="ipsec-sa-lifetime" type="xs:string" minOccurs="0"/>
        <xs:element name="ipsec-pfs" type="xs:string" minOccurs="0"/>
        <xs:element name="xauth-userid" type="xs:string" minOccurs="0"/>
        <xs:element name="xauth-user-password" type="xs:string" minOccurs="0"/>
        <xs:element name="dpd-interval" type="xs:string" minOccurs="0"/>
        <xs:element name="dpd-frequency" type="xs:string" minOccurs="0"/>
        <xs:element name="resource-version" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:relationship-list" minOccurs="0"/>
        <xs:element ref="tns:vig-servers" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ipsec-configurations">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:ipsec-configuration" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="route-table-reference">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="route-table-reference-id" type="xs:string" minOccurs="0"/>
        <xs:element name="route-table-reference-fqdn" type="xs:string" minOccurs="0"/>
        <xs:element name="resource-version" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:relationship-list" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="route-table-references">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:route-table-reference" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="network">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:logical-links" minOccurs="0"/>
        <xs:element ref="tns:site-pair-sets" minOccurs="0"/>
        <xs:element ref="tns:vpn-bindings" minOccurs="0"/>
        <xs:element ref="tns:vpls-pes" minOccurs="0"/>
        <xs:element ref="tns:multicast-configurations" minOccurs="0"/>
        <xs:element ref="tns:vces" minOccurs="0"/>
        <xs:element ref="tns:vnfcs" minOccurs="0"/>
        <xs:element ref="tns:l3-networks" minOccurs="0"/>
        <xs:element ref="tns:network-policies" minOccurs="0"/>
        <xs:element ref="tns:generic-vnfs" minOccurs="0"/>
        <xs:element ref="tns:lag-links" minOccurs="0"/>
        <xs:element ref="tns:newvces" minOccurs="0"/>
        <xs:element ref="tns:pnfs" minOccurs="0"/>
        <xs:element ref="tns:physical-links" minOccurs="0"/>
        <xs:element ref="tns:ipsec-configurations" minOccurs="0"/>
        <xs:element ref="tns:route-table-references" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="reserved-prop-names">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="last-mod-source-of-truth" type="xs:string" minOccurs="0"/>
        <xs:element name="aai-node-type" type="xs:string" minOccurs="0"/>
        <xs:element name="aai-created-ts" type="xs:unsignedInt" minOccurs="0"/>
        <xs:element name="aai-unique-key" type="xs:string" minOccurs="0"/>
        <xs:element name="aai-last-mod-ts" type="xs:unsignedInt" minOccurs="0"/>
        <xs:element name="source-of-truth" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="edge-prop-names">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="edgeLabel" type="xs:string" minOccurs="0"/>
        <xs:element name="direction" type="xs:string" minOccurs="0"/>
        <xs:element name="multiplicityRule" type="xs:string" minOccurs="0"/>
        <xs:element name="isParent" type="xs:boolean" minOccurs="0"/>
        <xs:element name="usesResource" type="xs:boolean" minOccurs="0"/>
        <xs:element name="hasDelTarget" type="xs:boolean" minOccurs="0"/>
        <xs:element name="SVC-INFRA" type="xs:boolean" minOccurs="0"/>
        <xs:element name="SVC-INFRA-REV" type="xs:boolean" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="aai-internal">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:reserved-prop-names" minOccurs="0" maxOccurs="5000"/>
        <xs:element ref="tns:edge-prop-names" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="notification-event-header">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="xs:string" minOccurs="0"/>
        <xs:element name="timestamp" type="xs:string" minOccurs="0"/>
        <xs:element name="source-name" type="xs:string" minOccurs="0"/>
        <xs:element name="domain" type="xs:string" minOccurs="0"/>
        <xs:element name="sequence-number" type="xs:string" minOccurs="0"/>
        <xs:element name="severity" type="xs:string" minOccurs="0"/>
        <xs:element name="event-type" type="xs:string" minOccurs="0"/>
        <xs:element name="version" type="xs:string" minOccurs="0"/>
        <xs:element name="action" type="xs:string" minOccurs="0"/>
        <xs:element name="entity-type" type="xs:string" minOccurs="0"/>
        <xs:element name="top-entity-type" type="xs:string" minOccurs="0"/>
        <xs:element name="entity-link" type="xs:string" minOccurs="0"/>
        <xs:element name="status" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="notification-event">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="cambria.partition" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:notification-event-header" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="query-parameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:named-query" minOccurs="0"/>
        <xs:element ref="tns:model" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="instance-filter">
    <xs:complexType>
      <xs:sequence/>
    </xs:complexType>
  </xs:element>
  <xs:element name="instance-filters">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:instance-filter" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="model-and-named-query-search">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:query-parameters" minOccurs="0"/>
        <xs:element ref="tns:instance-filters" minOccurs="0"/>
        <xs:element name="top-node-type" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="properties">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="property-name" type="xs:string" minOccurs="0"/>
        <xs:element name="property-value" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="extra-properties">
    <xs:complexType>
      <xs:sequence/>
    </xs:complexType>
  </xs:element>
  <xs:element name="inventory-response-item">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="model-name" type="xs:string" minOccurs="0"/>
        <xs:element ref="tns:extra-properties" minOccurs="0"/>
        <xs:element ref="tns:inventory-response-items" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="inventory-response-items">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:inventory-response-item" minOccurs="0" maxOccurs="5000"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="response-list">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:inventory-response-items" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="extra-property">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="property-name" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vnf">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="vnf-id" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="inventory">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:search" minOccurs="0"/>
        <xs:element ref="tns:actions" minOccurs="0"/>
        <xs:element ref="tns:cloud-infrastructure" minOccurs="0"/>
        <xs:element ref="tns:business" minOccurs="0"/>
        <xs:element ref="tns:service-design-and-creation" minOccurs="0"/>
        <xs:element ref="tns:network" minOccurs="0"/>
        <xs:element ref="tns:aai-internal" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
